@using OnlineShop.Application.Services.common.Querry.GetHomePage
@using OnlineShop.Common.Common.HomePage
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<HomePageImageDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Zero configuration table -->
        <section id="configuration">

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title-wrap bar-success">
                                <h4 class="card-title">لیست بنرها</h4>
                            </div>
                        </div>
                        <div class="card-body collapse show">
                            <div class="card-block card-dashboard">
                               

                                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                                    <div class="col-sm-12">
                                        <table class="table table-striped table-bordered zero-configuration dataTable" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                                            <thead>
                                                <tr role="row">
                                                    <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="نام: activate to sort column descending" style="width: 222px;">نام</th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="ایمیل: activate to sort column ascending" style="width: 401px;">ایمیل</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                @foreach (var item in Model)
                                                {
                                                    <tr role="row" class="odd">
                                                        <td class="sorting_1">
                                                            <a href="/@item.Src"><img width="200" height="150" src="/@item.Src"></a>
                                                        </td>
                                                        <td>
                                                            <a href="@item.Link">@item.Link</a>
                                                        </td>
                                                        <td>
                                                            @item.ImageLocation
                                                        </td>
                                                        <td>
                                                            <button class="btn btn-blue-grey" onclick="ShowModalEditBanner('@item.Id , @item.Src , @item.Link')">ویرایش</button>
                                                            <button class="btn btn-danger" onclick="DeleteBanner('@item.Id')">حذف</button>
                                                            
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
 </div>
 

@section Scripts
{

    <link href="~/Sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <script src="~/Sweetalert2/sweetalert2.min.js"></script>

    <script>
        

        function DeleteBanner(Id) {
            swal.fire({
                title: 'حذف بنر',
                text: "کاربر گرامی از حذف بنر مطمئن هستید؟",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#7cacbe',
                confirmButtonText: 'بله',
                cancelButtonText: 'خیر'
            }).then((result) => {
                if (result.value) {
                    var postData = {
                        'Id': Id,
                    };

                    $.ajax({
                        contentType: 'application/x-www-form-urlencoded',
                        dataType: 'json',
                        type: "POST",
                        url: "Delete",
                        data: postData,
                        success: function (data) {
                            if (data.isSuccess == true) {
                                swal.fire(
                                    'موفق!',
                                    data.message,
                                    'success'
                                ).then(function (isConfirm) {
                                    location.reload();
                                });
                            }
                            else {

                                swal.fire(
                                    'هشدار!',
                                    data.message,
                                    'warning'
                                );

                            }
                        },
                        error: function (request, status, error) {
                            alert(request.responseText);
                        }

                    });

                }
            })
        }
        

                function EditBanner() {

            var Id = $('#Edit_Id').val(Id)
            var Src = $('#Edit_Src').val(Src)
          var Link = $('#Edit_Link').val(Link)
          var ImageLocation = $('#Edit_ImageLocation').val(ImageLocation)

            var postData = {
                'Id': Id,
                'Src': Src,
                'Link': Link,
                'ImageLocation': ImageLocation,
            };


            $.ajax({
                contentType: 'application/x-www-form-urlencoded',
                dataType: 'json',
                type: "POST",
                url: "Edit",
                data: postData,
                success: function (data) {
                    if (data.isSuccess == true) {
                        swal.fire(
                            'موفق!',
                            data.message,
                            'success'
                        ).then(function (isConfirm) {
                            location.reload();
                        });
                    }
                    else {
                        swal.fire(
                            'هشدار!',
                            data.message,
                            'warning'
                        );
                    }
                },
                error: function (request, status, error) {
                    alert(request.responseText);
                }
            });

            $('#EditBanner').modal('hide');

        }


        function ShowModalEditBanner(Id, Src, Link,ImageLocation) {
            $('#Edit_Id').val(Id)
            $('#Edit_Src').val(Src)
            $('#Edit_Link').val(Link)
            $('#Edit_ImageLocation').val(ImageLocation)

            $('#EditBanner').modal('show');

        }


        </script>

}


@section Modals
{
    <!-- Modal Edit User -->
    <div class="modal fade" id="EditBanner" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">ویرایش کاربر</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-xl-12 col-lg-12 col-md-12 mb-1">
                        <fieldset class="form-group">
                            <input type="hidden" id="Edit_Id" />
                            <label for="basicInput">آدرس تصویر</label>
                            <input type="file" class="form-control" id="Edit_Src">
                            <label for="basicInput">لینک</label>
                            <input type="" class="form-control" id="Edit_Link">
                            <label for="basicInput">موقعیت نمایش تصویر</label>
                            <select name="imageLocation" asp-items="@Html.GetEnumSelectList<ImageLocation>()"></select>
                        </fieldset>
                    </div>
                </div>
                <div class="modal-footer">
                    <a  class="btn btn-secondary" data-dismiss="modal">بستن</a>
                    <a  class="btn btn-primary" onclick="EditBanner()">اعمال تغییرات</a>
                </div>
            </div>
        </div>
    </div>
}